@import url('https://fonts.googleapis.com/css?family=Caveat|Milonga');

body{
	font-family: "Milonga", sans-serif;
}
header{
}

h1{
	text-align:center;
}
#canvas-container{
	widht: 100%;
	text-align: center;
}
canvas{
	display:inline;
	border: 2px solid black;
    background-color: black; 
}

#ver{
	font-size: 0.7em;
	font-family: "Caveat", sans-serif;
}

footer{
	position: absolute;
	bottom: 2px;
}